 body {
     background: linear-gradient(to bottom, rgb(131, 199, 231), rgb(110, 230, 190));
     min-height: 100vh;

}


.text {
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    color:#000000;
}

#license-number {
    margin-bottom: 50px;
    padding: 5px 0px;

}

#Age {
    margin-bottom: 10px;
    padding: 5px 0px;

}
#Submit {
    height: 25px;
    width: 105px;
    color: red;
}