body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blanchedalmond;
}

h1 {
    color: aquamarine;
}
form{
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 300px;
    margin:auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 2px 15px chocolate;
}
#TextBox {
    width: 50%;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}
label {
    font-size: 1.6em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: blueviolet;
    font-weight: bold;
    font-size: 1.6em;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(110, 36, 179);
}
#result {
    font-size: 1.75em;
}