body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}
#Numip {
    font-size: 19px;
}
#Btn {
    font-size: 20px;
}
#Resultado {
    margin-top: 20px;
    font-size: 20px;
}